@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.navbar{
  background-color: #fff !important;

}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;

}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.menu-active{
  font-weight: bold;
  border-bottom:  1px solid #565387;
}
.navbar A:hover{
  color:  #3498db !important;


}
@media (max-width:991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  
}

.new{
  background-color: yellow !important;
  display: flex;
}

.btn-get-started{
  background: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  border: 2px solid #3498db;
  text-decoration: none;
}
#header .btn-get-started:hover{
background: #3498db;
color: #fff;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);

  }
  100%{
    transform: translatey(-10px);
  }
}
@keyframes up-down {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
  
}